html{
  background-color: rgba(226, 168, 43, 0.555);
  box-shadow: 0 50px 50px 50px rgba(255, 255, 255, 0.555) inset;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* div{
  display: inline-block;
} */

img{
  display: inline;
}

div{
  display: inline;
}

.GalleryItem{
  display: inline-block;
  margin: 30px;
  border: 1px solid black;
  width: 250px;
  background-color: rgba(1, 101, 141, 0.507);
}

.classDesc{
  /* border: 3px solid red; */
  /* height: 500px; */
}

button{
  display: block;
  margin: auto;
}

p{
  display: inline-block;
}
.pClass{
  margin: 0px;
  padding: 59px 0px;
}
.classPic{
  margin: 0px;
}